@charset "utf-8";
body, a, div, p, h1, h2, h3, h4 {
    min-width: 720px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul {
    list-style-type:none;
}
li {
    line-height: 20px;
    padding-bottom: 14px;
}
span {
    font-weight: bold;
    font-size: 20px;
}
.wrap_main {
    margin: 0 auto;
    width: 720px;
}
.main {
    margin: 30px auto;
    height: 700px; 
    background: url(../img/10lab.jpg) no-repeat center center;
    background-size: 100%;
}

.content {
    margin-bottom: 50px;
}
.title {
        padding-bottom: 20px;
}
.info {
    padding-bottom: 15px;
}